@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="app.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(global::PhotoBooth.App)" render-mode="Server" />
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="camera.js"></script>
</body>
</html>
