@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="app.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(global::PhotoBooth.App)" render-mode="Server" />
    </app>

    <!-- Blazor -->
    <script src="_framework/blazor.server.js"></script>

    <!-- Face API vastgepind op stabiele versie -->
    <script defer src="https://cdn.jsdelivr.net/npm/face-api.js@0.22.2/dist/face-api.min.js"></script>

    <!-- Camera Logic -->
    <script defer src="camera.js"></script>
</body>
</html>